body {
  font-family: 'Nanum Gothic', sans-serif;
}

.container {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}

h1#site-title {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  color: #1a3e9e;
  font-size: 72px;
  text-align: center;
  margin-bottom: 32px;
}

h1#page-title {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  color: #6c138d;
  font-size: 46px;
  text-align: left;
  margin-left: 36px;
  margin-top: 32px;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Playfair Display', serif;
  color: #1a809e;
  font-size: 38;
  font-weight: 700;
  margin-left: 40px;
  margin-bottom: 6px;
  padding-top: 36px;
}

article figure img {
  width: 100%;
}

figure.main-image {
  max-width: 1200px;
  height: auto;
  background: #ecf7fa;
  border: 1px solid #1a3e9e;
  padding: 12px;
  padding-bottom: 14px;
}

figure.section-image {
  max-width: 320px;
  border: 2px solid #bda0f1;
  padding: 8px;
}

@media all and (min-width: 768px) {
  figure.section-image.odd {
    float: left;
    margin-right: 16px;
  }
  figure.section-image.even {
    float: right;
    margin-left: 16px;
  }
}

figcaption {
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
}

p {
  font-size: 16px;
  font-weight: 400;
}

@media all and (min-width: 768px) {
  p {
    margin-left: 80px;
  }
}

p.first {
    padding-top: 4px;
}

p.footer {
  margin-left: 0; 
}

nav ul {
  list-style: none;
  padding-left: 0;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  background-color: #ecf7fa;
}

@media all and (min-width: 429px) {
  nav ul {
    display: flex;  
    justify-content: center;
    gap: 25px;
  }
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 15px;
  font-size: 24px;
}

nav ul li a:visited {
  color: #6c138d;
}

header nav ul li a:hover {
  background-color: #1a809e;
  color: #ffffff;
}

header nav ul {
  border-style: double;
  border-color: #1a809e;
  border-width: 5px 0px 5px 0px;
}

footer nav ul li a:hover {
  color: #1a809e;
}

footer#page-footer {
  padding: 32px 0;
  margin-top: 64px;
  text-align: center;
  background-color: #ecf7fa;
}

.skip-link {
  background: #ecf7fa;
  color: #000000;
  text-decoration: none;
  left: 50px;
  padding: 6px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip-link:focus {
  transform: translateY(0%);
}